/* Universal Styles */

/* Reset default styles for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    font-family: Arial, sans-serif;
    background-image: url('skyowl.png');
    background-size: cover; /* Ensures the image covers the entire body */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-attachment: fixed;
}

/* Header Styles */

.header {
    background-color: transparent;
    padding: 10px 0;
    height: 120px;
    text-align: center;
    margin-bottom: 30px;
}

h1 {
    background-color: transparent;
    font-size: 36px;
    font-weight: bolder;
    color: white;
    text-align: center;
}

/* Search Section Styles */

/* Form Styles */
.form-inline {
    border-radius: 8px;
    font-weight: bolder;
}

#search-city-input {
    font-weight: bolder;
}

/* Search History Styles */
.search-history-container {
    width: 250;
    margin-top: 20px;
    margin-left: 20px;
    background-color: transparent;
    border: 12px;
    border-radius: 5px;
    color: white;
}

.search-history-list {
    display: block;
    width: 200px;
    margin-left: 10px;
    margin-bottom: 10px;
    clear: both;
    font-size: 20px;
    font-weight: bolder;
    padding: 5px; /* Padding inside the box */
    margin: 5px 0; /* Margin between the boxes */
    margin-left: 20px;
    border-radius: 8px; /* Adds rounded corners to the box */
    color: white;
    font-weight: bolder;
}

/* Clear History Button Styles */
.clear-history-button {
    padding: 8px 16px;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
    background-color: #dc3545; 
    color: #fff; 
    font-size: 20px;
    font-weight: bolder;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.clear-history-button:hover {
    background-color: #c82333; /* Darker red on hover, you can change it */
}


/* Little Owl Image Styles */
.clear-history-wrapper img{
    width: 100px;
    height: 120px;
    margin-left: 60px;
    border-radius: 50px;
}

/* Search City Styles */
.card-body {
    color: white;
    font-weight: bolder;
}

.card-body h4 {
    color: white;
    font-weight: bolder;
}

.city {
    color: white;
    font-size: 35px;
    font-weight: bolder;
    border: none;
}

.current-weather-card {
    background-color: #1ca9c9;
    font: 20px;
    padding: 2px;
    border: none;
    color: white;
    min-height: 260px;
}

p.current-date {
    font-size: 24px;
    font-weight: bolder;
}

h2 {
    font-weight: bolder;
}

.current-weather-card p {
    color: white;
}

/* Weather Styles */


/* 5-Day Forecast Title Styles */
h5 {
 font-size: 26px;
 font-weight: bolder;
 margin-top: 40px;
}

.cbforecast {
  margin: 20px;
  color: white;
  font-weight: bolder;
}

.weather-data-container {
    margin-left: 0;
}

.main-container {
    margin-top: 40px;
    padding-bottom: 20px;
}

.bg-primary {
    background-color: #1ca9c9 !important;
    padding: 2px;
}

.card.forecast {
    background-color: #1ca9c9;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    margin: 5px;
    width: 180px;
    height: 260px;
}

h6 {
    font-weight: bolder;
}
